page-search {
.bg-image {

  background-image: url('http://data.whicdn.com/images/82279184/large.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: full;
}
}
