page-list-master {
.bg-image {
  background-image: url('http://images.all-free-download.com/images/graphiclarge/simple_abstract_background_6819442.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: full;
}

}
